.hidden-start {
  transform: translateX(-100vw);
}

.hidden-end {
  transform: translateX(100vw);
}

.hidden-top {
  transform: translateY(-100vh);
}

.hidden-bottom {
  transform: translateY(100vh);
}

.shown {
  transform: translate(0, 0);
}

.button, .button-inverted {
  border: 1px solid black;
}

.button:hover {
  background-color: var(--whitesmoke) !important;
}

.button-inverted:hover {
  color: var(--whitesmoke) !important;
  border-color: var(--whitesmoke) !important;
}

.button.light-blue-button:hover {
  color: var(--light-blue) !important;
}

.button.terra-cotta-button:hover {
  color: var(--terra-cotta) !important;
}

.button.light-green-button:hover {
  color: var(--light-green) !important;
}

.button-inverted.light-blue-button:hover {
  background-color: var(--light-blue) !important;
}

.button-inverted.terra-cotta-button:hover {
  background-color: var(--terra-cotta) !important;
}

.button-inverted.light-green-button:hover {
  background-color: var(--light-green) !important;
}

i:hover, svg:hover {
  transform: rotate(360deg);
}

.formula {
  display: inline-block;
}

.formula sup, .formula sub {
  position: relative;
  display: block;
  font-size: .5em;
  line-height: 1.2;
}

.formula sub {
  top: .3em;
}

.underlined {
  text-decoration: none !important;
  border: none !important;
  border-bottom: 1px solid black;
}

.outline-0 {
  outline: 0 !important;
}